{% extends "IroquoisFalls/homepage.html" %}
{% block body %}
<h3 class= "m-4"><i class="fa-solid fa-people-roof fa-lg"></i> User Managment System </h3>
                <div class= "row">
                    <div class= "col-12">
                        {% if Users %}
                        <div class="card bg-light ms-4 me-4 mb-4">
                            <div class="card-header">
                                <i class="fa-solid fa-list fa-lg"></i> User List
                            </div>
                            <div class="card-body">
                              
                              <p class="card-text">
                                <div class = "table-responsive" >
                                    <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th scope="col">id</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">email</th>
                                            <th scope="col">password
                                            <th scope="col">First name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Phone Number</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">DoB</th>
                                            <th scope="col">Active Status</th>
                                            <th scope="col">Admin Status</th>
                                            <th scope="col">Actions</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            
                                          {% for Users in Users %}
                                          <tr>
                                            <td> {{ Users.id }} </td>
                                            <td> {{ Users.username }} </td>
                                            <td> {{ Users.email }} </td>
                                            <td> ****** </td>
                                            <td> {{ Users.FirstName  }} </td>
                                            <td> {{ Users.LastName }} </td>
                                            <td> {{ Users.phone_number }} </td>
                                            <td> {{ Users.address }} </td>
                                            <td> {{ Users.DoB }} </td>
                                            <td> {{ Users.is_active }} </td>
                                            <td> {{ Users.is_admin }} </td>
                                            <td> 
                                                <button type="button" class="btn btn-success me-1" data-bs-toggle="modal" data-bs-target="#myModal{{ Users.id }}">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </button>
                                                
                                                <div class="modal fade" id="myModal{{ Users.id }}" tabindex="-1" aria-labelledby="myModalLabel{{ Users.id }}" aria-hidden="true">
                                                
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">
                                                                    User: {{ Users.FirstName }} {{ Users.LastName }}
                                                                </h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <ul class="list-unstyled">
                                                                    <li>Username: <strong>{{ Users.username }}</strong></li>
                                                                    <li>Email: <strong>{{ Users.email }}</strong></li>
                                                                    <li>Password: <strong>{{ Users.password }}</strong></li>
                                                                    <li>First Name: <strong>{{ Users.FirstName }}</strong></li>
                                                                    <li>Last Name: <strong>{{ Users.LastName }}</strong></li>
                                                                    <li>Phone Number: <strong>{{ Users.phone_number }}</strong></li>
                                                                    <li>Address: <strong>{{ Users.address }}</strong></li>
                                                                    <li>DoB: <strong>{{ Users.DoB }}</strong></li>
                                                                    <li>is Active: <strong>{{ Users.is_active }}</strong></li>
                                                                    <li>is Admin: <strong>{{ Users.is_admin }}</strong></li>
                                                                </ul>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <a class = "btn btn-warning me-1" href = "{% url 'edit' Users.id %}">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                
                                                <button type = "button" class = "btn btn-danger me-1" data-bs-toggle="modal" data-bs-target="#delete{{Users.id}}">
                                                    <i class="fa-solid fa-trash"></i>

                                                </button>
                                                <!-- modal delete ! -->
                                                <!-- Modal Delete -->
                                                <div class="modal fade" id="delete{{Users.id}}" tabindex="-1" aria-labelledby="myModalLabel2{{ Users.id }}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">
                                                                    User: {{ Users.FirstName }} {{ Users.LastName }}
                                                                </h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Are you sure you want to delete this user?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form action="{% url 'delete' Users.id %}" method="POST">
                                                                    {% csrf_token %}
                                                                    <input type="submit" class="btn btn-danger" value="Delete">
                                                                </form>
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                              </p>
                            </div>
                          </div>
                        {% else %}
                            <h5 class = "alert alert-primary ms-4 me-4"> There are no student records at the moment </h5>
                        {% endif %}
                    </div>
                </div>
{% endblock %}