{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        
    </head>
      
    <body>
        <header class="page-header">
            <div>
                <h1>Iroquois Falls WebApp</h1>
            </div>
        </header>
        
        <section>
            <h2>Welcome!</h2>
        </section>
    </body>
</html>