{% extends "IroquoisFalls/homepage.html" %}
<div class="container-fluid">
    {% block body %}
    <h3 class= "m-4"> Forms</h3>
    <div class= "row">
        <div class= "col-12">
            <div class="card bg-light ms-4 me-4 mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-list fa-lg"></i> Review a File
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <div class = "table-responsive" >
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">File Name</th>
                                        <th scope="col">Requested By</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">View and Sign</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for statreq in statreqs %}
                                    {% for user in Users%}
                                    <tr>
                                        <td>{{ statreq.get_title_display }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ statreq.get_status_display }}</td>
                                        <td>
                                            <a href="{% url 'latPdf' statreq.get_title_display %}" class="btn btn-info" target="_blank">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <button type="button" class="btn btn-warning me-1"><i class="fa-solid fa-signature"></i></button>
                                        </td>
                                        <td>
                                            <form method="POST" action="{% url 'return_request' statreq.id %}" style="display:inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-secondary">
                                                    <i class="fa-solid fa-rotate"></i>
                                                </button>
                                            </form>
                                            <form method="POST" action="{% url 'accept_request' statreq.id %}" style="display:inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success">
                                                    <i class="fa-solid fa-check"></i>
                                                </button>
                                            </form>
                                            <form method="POST" action="{% url 'reject_request' statreq.id %}" style="display:inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger me-1">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>