<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=100%">
        <title>Home Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
      
    <body>
        <header class = "page-header">
            <div>
                <h1>Iroquois Falls WebApp</h1>
            </div>
        </header>
        
        <h3>Choose an option below:</h2>
            
        <form action="{'create_user.html'}" method = "POST">
            <button type="submit" class="log-but">Create a User</button>
        </form>
        <form action="{'remove_user.html'}" method = "POST">
            <button type="submit" class="rem-but">Remove a User</button>
        </form>
        <form action="{'update_user.html'}" method = "POST">
            <button type="submit" class="log-but">Update a User</button>
        </form>
        <form action="{'delete_user.html'}" method = "POST">
            <button type="submit" class="log-but">Delete a User</button>
        </form>

    </body>
</html>